$ease-out: cubic-bezier(.02,.57,.38,.98);
$ease-in-out: cubic-bezier(.58,.01,.25,.97);

@mixin fade($speed: .75s) {
  transition: opacity #{$speed} linear, visibility #{$speed} linear;
}

@mixin fade-out {
  opacity: 0;
  visibility: hidden;
}

@mixin fade-in {
  opacity: 1;
  visibility: visible;
}

@mixin fade-slide($speed: .75s) {
  transition: opacity #{$speed} linear, visibility #{$speed} linear, transform #{$speed} #{$ease-out};
}

@mixin fade-slide-out($height: 50px) {
  @include fade-out;
  transform: translateY($height);
}

@mixin fade-slide-in {
  @include fade-in;
  transform: translateY(0px);
}
