@import "../abstract/all";

$alignments: ('left', 'center', 'right');

@mixin make-type($prefix: '') {
  .#{$prefix}truncate {
    @include truncate;
  }

  .#{$prefix}text-reset {
    font-size: $base-font-size;
  }
  
  @each $a in $alignments {
    .#{$prefix}text-#{$a} {
      text-align: #{$a} !important;
    }
  
    @each $bp in $breakpoints {
      .#{$prefix}text-#{$a}--#{$bp} {
        @include breakpoint($bp) {
          text-align: #{$a} !important;
        }
      }
    }
  }
}
